<h2>Syllabus</h2>

<table class="table table-bordered table-hover">
    <thead>
        <th>Date</th>
        <th>Topic</th>
        <th>Recording</th>
        <th>Assignments</th>
    </thead>
    <tbody>
        <p>Note that due to copyright issues, we cannot post the actual slides.
            That said, please feel free to visit any of the course staff to go over the material.
        </p>
        <tr ng-repeat="class in ctrl.classes"
            ng-class="ctrl.getRowClass(class)">
            <td ng-bind="::class.date"></td>
            <td ng-bind="::class.topic"></td>
            <td><a href="{{class.recording}}" ng-bind="::class.recording"></a></td>
            <td>
                <div ng-repeat="assignment in class.assignments">
                    <a target="_blank" href="{{assignment.link}}" ng-bind="::assignment.name"></a>
                </div>
            </td>
        </tr>
    </tbody>
</table>
